body{
    background-color: #eeeeee;
}

button{
    padding: 15px 30px;
    font-size: 2em;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 15px;
}

button:hover{
    background-color: blue;
}

#sortable{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 450px; 
}

#sortable li {
    float: left; 
    width: 100px; 
    height: 100px;
}

.container{
    background-color: white;
    color: black;
    text-align: justify;
    border-radius: 15px;
}

.info{
    border: 1px solid lightgrey; 
    border-radius: 15px;
    padding: 15px;
}

.button-container{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.puzzle{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.time{
    font-size: 2em;
}